In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx

In [85]:
df = pd.read_csv('WDICountry.csv', encoding='latin1')

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Index                                              263 non-null    int64
 1   Country Code                                       263 non-null    object
 2   Short Name                                         263 non-null    object
 3   Table Name                                         263 non-null    object
 4   Long Name                                          263 non-null    object
 5   2-alpha code                                       261 non-null    object
 6   Currency Unit                                      217 non-null    object
 7   Special Notes                                      150 non-null    object
 8   Region                                             217 non-null    object
 9   Income Group                                       217 non-null    object
 10  WB-2 code                                          262 non-null    object
 11  National accounts base year                        205 non-null    object
 12  National accounts reference year                   54 non-null     float64
 13  SNA price valuation                                201 non-null    object
 14  Lending category                                   143 non-null    object
 15  Other groups                                       59 non-null     object
 16  System of National Accounts                        215 non-null    object
 17  Alternative conversion factor                      47 non-null     object
 18  PPP survey year                                    191 non-null    object
 19  Balance of Payments Manual in use                  203 non-null    object
 20  External debt Reporting status                     123 non-null    object
 21  System of trade                                    202 non-null    object
 22  Government Accounting concept                      164 non-null    object
 23  IMF data dissemination standard                    183 non-null    object
 24  Latest population census                           217 non-null    object
 25  Latest household survey                            152 non-null    object
 26  Source of most recent Income and expenditure data  165 non-null    object
 27  Vital registration complete                        115 non-null    object
 28  Latest agricultural census                         132 non-null    object
 29  Latest industrial data                             117 non-null    float64
 30  Latest trade data                                  193 non-null    float64
 31  Latest water withdrawal data                       181 non-null    float64
dtypes: float64(4), int64(1), object(27)
memory usage: 65.9+ KB
None

,Index,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,1,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2015.0,NaN
1,2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2011",NaN,NaN,NaN,2015.0,2000.0
2,3,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2015.0,2005.0
3,4,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Demographic and Health Survey, 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2015.0,2006.0
4,5,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,WB-3 code changed from ADO to AND to align wit...,Europe & Central Asia,High income,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2014.0,NaN

In [86]:
# Extract source and target nodes
# In this case source = Income group; target = Short Name
source_target = df[['Income Group', 'Short Name']].values

source_target[:5]

array([['High income', 'Aruba'],
       ['Low income', 'Afghanistan'],
       ['Lower middle income', 'Angola'],
       ['Upper middle income', 'Albania'],
       ['High income', 'Andorra']], dtype=object)

In [87]:
# Create Network Graph Coordinates
Q = nx.Graph()
Q.add_edges_from(source_target)
coordinates = nx.spring_layout(Q)

coordinates

{'High income': array([-0.15531415,  0.70793178]),
 'Aruba': array([-0.09188307,  0.89584514]),
 'Low income': array([-0.59964718, -0.1534566 ]),
 'Afghanistan': array([-0.59712142, -0.2565592 ]),
 'Lower middle income': array([-0.28425065, -0.80698978]),
 'Angola': array([-0.22509584, -0.89693952]),
 'Upper middle income': array([ 0.81317364, -0.03755886]),
 'Albania': array([0.9299431, 0.0626572]),
 'Andorra': array([-0.20535625,  0.80546878]),
 nan: array([ 0.01353315, -0.09346997]),
 'Arab World': array([ 0.09914926, -0.01228793]),
 'United Arab Emirates': array([-0.12759529,  0.8280381 ]),
 'Argentina': array([ 0.74112087, -0.10730976]),
 'Armenia': array([-0.34555649, -0.89152561]),
 'American Samoa': array([ 0.77953285, -0.09058089]),
 'Antigua and Barbuda': array([-0.17677302,  0.87604228]),
 'Australia': array([-0.09010532,  0.81758476]),
 'Austria': array([-0.17184162,  0.59815746]),
 'Azerbaijan': array([ 0.99509251, -0.08331958]),
 'Burundi': array([-0.70871148, -0.05385776]),
 'Belgium': array([-0.09439548,  0.64970584]),
 'Benin': array([-0.65050467, -0.03582201]),
 'Burkina Faso': array([-0.69668324, -0.27102556]),
 'Bangladesh': array([-0.38094902, -0.88863077]),
 'Bulgaria': array([0.9592662 , 0.07464984]),
 'Bahrain': array([-0.14678256,  0.90374579]),
 'The Bahamas': array([-0.14076197,  0.58966736]),
 'Bosnia and Herzegovina': array([0.97126093, 0.05059835]),
 'Belarus': array([ 0.92584537, -0.10265062]),
 'Belize': array([0.75299956, 0.05376217]),
 'Bermuda': array([-0.31503964,  0.65806118]),
 'Bolivia': array([-0.31144488, -0.95151669]),
 'Brazil': array([ 0.89366618, -0.12209184]),
 'Barbados': array([-0.19660283,  0.75933987]),
 'Brunei': array([-0.25264322,  0.65182667]),
 'Bhutan': array([-0.40357155, -0.90960201]),
 'Botswana': array([ 0.85974554, -0.08851341]),
 'Central African Republic': array([-0.66713657, -0.0957621 ]),
 'Canada': array([-0.28649803,  0.66673199]),
 'Central Europe and the Baltics': array([ 0.03095073, -0.17427994]),
 'Switzerland': array([-0.03757194,  0.84965258]),
 'Channel Islands': array([-0.07009903,  0.78302816]),
 'Chile': array([-0.33274454,  0.75869861]),
 'China': array([ 0.8741738 , -0.03265059]),
 "Côte d'Ivoire": array([-0.22756211, -0.78293336]),
 'Cameroon': array([-0.41840486, -0.83332915]),
 'Dem. Rep. Congo': array([-0.7274702 , -0.07240788]),
 'Congo': array([-0.34361242, -0.94475612]),
 'Colombia': array([ 0.98304042, -0.0024662 ]),
 'Comoros': array([-0.72189793, -0.25606193]),
 'Cabo Verde': array([-0.30382349, -0.99358108]),
 'Costa Rica': array([ 0.94684502, -0.15916883]),
 'Caribbean small states': array([-0.01600679, -0.16128602]),
 'Cuba': array([0.74083125, 0.01829666]),
 'Curaçao': array([-0.03180214,  0.65434697]),
 'Cayman Islands': array([-0.29363623,  0.63030117]),
 'Cyprus': array([-0.26511932,  0.8377724 ]),
 'Czech Republic': array([-0.11590717,  0.78952517]),
 'Germany': array([-0.23610069,  0.77935542]),
 'Djibouti': array([-0.34154176, -0.7689892 ]),
 'Dominica': array([0.99316752, 0.02531268]),
 'Denmark': array([-0.20428147,  0.85019045]),
 'Dominican Republic': array([ 0.96349608, -0.13275221]),
 'Algeria': array([ 0.9044477, -0.0714442]),
 'East Asia & Pacific (excluding high income)': array([-0.07352051, -0.19570203]),
 'Early-demographic dividend': array([ 0.1510374, -0.0508592]),
 'East Asia & Pacific': array([ 0.13245601, -0.11332274]),
 'Europe & Central Asia (excluding high income)': array([ 0.10982891, -0.14685915]),
 'Europe & Central Asia': array([ 0.06327941, -0.14135837]),
 'Ecuador': array([0.88576464, 0.09441778]),
 'Egypt': array([-0.41612438, -0.87150465]),
 'Euro area': array([-0.07219105, -0.08098283]),
 'Eritrea': array([-0.7298128, -0.1762083]),
 'Spain': array([-0.10933748,  0.6029343 ]),
 'Estonia': array([-0.29190704,  0.72846133]),
 'Ethiopia': array([-0.69813827, -0.20069788]),
 'European Union': array([-0.10374271, -0.05709916]),
 'Fragile and conflict affected situations': array([0.03030044, 0.02598913]),
 'Finland': array([0.01335669, 0.73722357]),
 'Fiji': array([ 0.75990629, -0.14474606]),
 'France': array([-0.23339096,  0.89436183]),
 'Faroe Islands': array([-0.13957319,  0.87436835]),
 'Micronesia': array([-0.35513845, -0.72749322]),
 'Gabon': array([0.84173003, 0.06529688]),
 'United Kingdom': array([-0.31905833,  0.78265274]),
 'Georgia': array([-0.18791465, -0.92872307]),
 'Ghana': array([-0.41151181, -0.7893268 ]),
 'Gibraltar': array([-0.2331026,  0.7178673]),
 'Guinea': array([-0.72274048, -0.22362944]),
 'The Gambia': array([-0.72498315, -0.11704628]),
 'Guinea-Bissau': array([-0.60970823, -0.0530806 ]),
 'Equatorial Guinea': array([ 0.97378676, -0.06332565]),
 'Greece': array([-0.17444767,  0.90657616]),
 'Grenada': array([ 0.98363405, -0.11270236]),
 'Greenland': array([-0.24264734,  0.59813574]),
 'Guatemala': array([-0.26326758, -0.7348848 ]),
 'Guam': array([-0.07254411,  0.84346155]),
 'Guyana': array([0.90987135, 0.11037411]),
 'Hong Kong SAR, China': array([-0.31454383,  0.70942003]),
 'Honduras': array([-0.37978701, -0.75974293]),
 'Heavily indebted poor countries (HIPC)': array([ 0.15552602, -0.13850689]),
 'Croatia': array([0.93426994, 0.09301245]),
 'Haiti': array([-0.74907431, -0.09062284]),
 'Hungary': array([0.00809493, 0.77364017]),
 'IBRD only': array([0.0550367 , 0.00409123]),
 'IDA & IBRD total': array([ 0.05198029, -0.04227263]),
 'IDA total': array([ 0.12702318, -0.07049939]),
 'IDA blend': array([ 0.05588573, -0.20388076]),
 'Indonesia': array([-0.15397518, -0.88624608]),
 'IDA only': array([-0.09598755, -0.16322336]),
 'Isle of Man': array([0.00373992, 0.70129398]),
 'India': array([-0.26189896, -0.99107262]),
 'Ireland': array([-0.22475506,  0.67682711]),
 'Iran': array([ 0.90143505, -0.18682181]),
 'Iraq': array([ 0.85179306, -0.12769624]),
 'Iceland': array([-0.07674323,  0.61099401]),
 'Israel': array([-0.10327075,  0.74706361]),
 'Italy': array([-0.0214767 ,  0.76448503]),
 'Jamaica': array([ 0.73135206, -0.0615332 ]),
 'Jordan': array([-0.32835473, -0.97972296]),
 'Japan': array([-0.05018991,  0.8186556 ]),
 'Kazakhstan': array([0.93776093, 0.00117684]),
 'Kenya': array([-0.14669973, -0.8540026 ]),
 'Kyrgyz Republic': array([-0.19164351, -0.95696422]),
 'Cambodia': array([-0.36823661, -0.92442066]),
 'Kiribati': array([-0.44128173, -0.78652092]),
 'St. Kitts and Nevis': array([-0.26613858,  0.61913388]),
 'Korea': array([-0.30087722,  0.82376175]),
 'Kuwait': array([-0.27398874,  0.69606188]),
 'Latin America & Caribbean (excluding high income)': array([ 0.12918757, -0.01554056]),
 'Lao PDR': array([-0.37316029, -0.96146969]),
 'Lebanon': array([ 0.93030929, -0.13530015]),
 'Liberia': array([-0.75245471, -0.23153502]),
 'Libya': array([ 0.91735468, -0.16456656]),
 'St. Lucia': array([ 0.82147024, -0.19046968]),
 'Latin America & Caribbean': array([ 0.15995181, -0.09489379]),
 'Least developed countries: UN classification': array([ 0.14197027, -0.16921386]),
 'Liechtenstein': array([-0.05345382,  0.74675438]),
 'Sri Lanka': array([-0.44721104, -0.88009232]),
 'Low & middle income': array([-0.00155677, -0.2349706 ]),
 'Lesotho': array([-0.4489653 , -0.85099436]),
 'Late-demographic dividend': array([-0.03232865,  0.00380984]),
 'Lithuania': array([-0.07476718,  0.71091833]),
 'Luxembourg': array([-0.06350928,  0.67191235]),
 'Latvia': array([-0.0333684 ,  0.70213472]),
 'Macao SAR, China': array([-0.27430015,  0.78090865]),
 'St. Martin (French part)': array([-0.25879484,  0.74440324]),
 'Morocco': array([-0.41019777, -0.75078796]),
 'Monaco': array([-0.18434491,  0.64573833]),
 'Moldova': array([-0.31362971, -0.91823458]),
 'Madagascar': array([-0.63196659, -0.27776663]),
 'Maldives': array([ 0.961115  , -0.02615937]),
 'Middle East & North Africa': array([ 0.00871666, -0.20616297]),
 'Mexico': array([0.85135614, 0.09645658]),
 'Marshall Islands': array([ 0.85096197, -0.17194939]),
 'Middle income': array([-0.04317297, -0.04357243]),
 'Macedonia': array([0.83257987, 0.02618375]),
 'Mali': array([-0.69711067, -0.10448035]),
 'Malta': array([-0.21777453,  0.87198478]),
 'Myanmar': array([-0.24596521, -0.92517851]),
 'Middle East & North Africa (excluding high income)': array([-0.0635945 , -0.15110504]),
 'Montenegro': array([0.87767155, 0.0369349 ]),
 'Mongolia': array([-0.2083931 , -0.75080237]),
 'Northern Mariana Islands': array([-0.04684612,  0.62639235]),
 'Mozambique': array([-0.66602767, -0.27845288]),
 'Mauritania': array([-0.17625938, -0.78703272]),
 'Mauritius': array([0.86822865, 0.12186767]),
 'Malawi': array([-0.77011985, -0.18150595]),
 'Malaysia': array([0.9624677 , 0.02269916]),
 'North America': array([ 0.09517625, -0.05190302]),
 'Namibia': array([ 1.        , -0.02225296]),
 'New Caledonia': array([-0.03308886,  0.79318373]),
 'Niger': array([-0.6350425 , -0.24293188]),
 'Nigeria': array([-0.38218128, -0.85333999]),
 'Nicaragua': array([-0.3086035 , -0.72978374]),
 'Netherlands': array([-0.29825165,  0.76019506]),
 'Norway': array([-0.27293626,  0.80899193]),
 'Nepal': array([-0.64557031, -0.07183774]),
 'Nauru': array([ 0.73646501, -0.01989712]),
 'New Zealand': array([-0.33505502,  0.73076606]),
 'OECD members': array([-0.04802708, -0.11409711]),
 'Oman': array([-0.11180758,  0.85847943]),
 'Other small states': array([-0.10969587, -0.094082  ]),
 'Pakistan': array([-0.38646433, -0.81031031]),
 'Panama': array([ 0.78896538, -0.1705311 ]),
 'Peru': array([0.82342824, 0.11474279]),
 'Philippines': array([-0.22111687, -0.94307932]),
 'Palau': array([-0.24266174,  0.85783417]),
 'Papua New Guinea': array([-0.39605351, -0.95096427]),
 'Poland': array([-0.3278628 ,  0.68703037]),
 'Pre-demographic dividend': array([-0.00727568,  0.02561301]),
 'Puerto Rico': array([-0.01704527,  0.83030573]),
 "Dem. People's Rep. Korea": array([-0.58809059, -0.09206537]),
 'Portugal': array([-0.31984334,  0.80681149]),
 'Paraguay': array([0.80649499, 0.08821901]),
 'West Bank and Gaza': array([-0.24895723, -0.96554091]),
 'Pacific island small states': array([ 0.09936585, -0.21550524]),
 'Post-demographic dividend': array([-0.10255873, -0.12604625]),
 'French Polynesia': array([-0.01590906,  0.73232919]),
 'Qatar': array([-0.15603808,  0.84820189]),
 'Romania': array([ 0.79700843, -0.12847693]),
 'Russia': array([0.77548003, 0.08443127]),
 'Rwanda': array([-0.68151745, -0.2370158 ]),
 'South Asia': array([ 0.09446439, -0.10281246]),
 'Saudi Arabia': array([-0.20369338,  0.58670529]),
 'Sudan': array([-0.31174145, -0.86943444]),
 'Senegal': array([-0.73522047, -0.14483636]),
 'Singapore': array([-0.2173926 ,  0.62153986]),
 'Solomon Islands': array([-0.4490338 , -0.81981409]),
 'Sierra Leone': array([-0.65089086, -0.20477622]),
 'El Salvador': array([-0.18229789, -0.85902312]),
 'San Marino': array([-0.23561243,  0.82169264]),
 'Somalia': array([-0.5786587 , -0.21718362]),
 'Serbia': array([ 0.99865807, -0.04913685]),
 'Sub-Saharan Africa (excluding high income)': array([-0.03612803, -0.22337604]),
 'South Sudan': array([-0.74726006, -0.20066255]),
 'Sub-Saharan Africa': array([ 0.03439875, -0.23648105]),
 'Small states': array([0.08431236, 0.01885451]),
 'São Tomé and Principe': array([-0.16086713, -0.91774223]),
 'Suriname': array([ 0.95768495, -0.09854774]),
 'Slovak Republic': array([-0.11934866,  0.89816037]),
 'Slovenia': array([-0.05540821,  0.87255016]),
 'Sweden': array([-0.13718678,  0.64132616]),
 'Swaziland': array([-0.27447678, -0.89723925]),
 'Sint Maarten (Dutch part)': array([-0.20122502,  0.89808965]),
 'Seychelles': array([-0.00261834,  0.80417106]),
 'Syrian Arab Republic': array([-0.27729359, -0.94008755]),
 'Turks and Caicos Islands': array([-0.007032  ,  0.67046331]),
 'Chad': array([-0.7646118 , -0.14956796]),
 'East Asia & Pacific (IDA & IBRD)': array([ 0.08720966, -0.1787609 ]),
 'Europe & Central Asia (IDA & IBRD)': array([ 0.00782352, -0.01751405]),
 'Togo': array([-0.7660824, -0.1183573]),
 'Thailand': array([ 0.86794791, -0.19548535]),
 'Tajikistan': array([-0.23615231, -0.85842456]),
 'Turkmenistan': array([0.89763178, 0.00271642]),
 'Latin America & Caribbean (IDA & IBRD)': array([ 0.07027347, -0.23288412]),
 'Timor-Leste': array([-0.15657056, -0.81973648]),
 'Middle East & North Africa (IDA & IBRD)': array([-0.06426949,  0.00164922]),
 'Tonga': array([ 0.94503687, -0.06464859]),
 'South Asia (IDA & IBRD)': array([-0.03817494, -0.19275923]),
 'Sub-Saharan Africa (IDA & IBRD)': array([ 0.12388163, -0.19529156]),
 'Trinidad and Tobago': array([-0.26624491,  0.87302486]),
 'Tunisia': array([-0.28431862, -0.97403979]),
 'Turkey': array([0.92579941, 0.03324463]),
 'Tuvalu': array([ 0.9237356 , -0.03536272]),
 'Tanzania': array([-0.65773795, -0.14205419]),
 'Uganda': array([-0.69206192, -0.16087467]),
 'Ukraine': array([-0.43487034, -0.90713971]),
 'Uruguay': array([-0.08469668,  0.87072899]),
 'United States': array([-0.17976856,  0.82965314]),
 'Uzbekistan': array([-0.41815441, -0.93558803]),
 'St. Vincent and the Grenadines': array([ 0.82273493, -0.15205409]),
 'Venezuela': array([0.89595166, 0.06608131]),
 'British Virgin Islands': array([-0.29181352,  0.85069518]),
 'Virgin Islands': array([-0.15799411,  0.79241898]),
 'Vietnam': array([-0.34931648, -0.82556825]),
 'Vanuatu': array([-0.19919495, -0.82521019]),
 'World': array([-0.08570472, -0.02818189]),
 'Samoa': array([ 0.88292378, -0.15632219]),
 'Kosovo': array([-0.22098327, -0.97829481]),
 'Yemen': array([-0.19196927, -0.89310469]),
 'South Africa': array([0.79019242, 0.03749334]),
 'Zambia': array([-0.35565206, -0.98166516]),
 'Zimbabwe': array([-0.68228709, -0.04470363])}

In [88]:
# Create dataframe graph coordinate
df_coordinates = pd.DataFrame(coordinates).T
df_coordinates.columns = ['X', 'Y']
df_coordinates.to_csv('CoorFile.csv', index_label='NodeName')
df_coordinates.head()

                            X         Y
High income         -0.155314  0.707932
Aruba               -0.091883  0.895845
Low income          -0.599647 -0.153457
Afghanistan         -0.597121 -0.256559
Lower middle income -0.284251 -0.806990

In [89]:
# Create Bridge file (Connection between nodes)
# Tableau Code (Clarify which one is source and target): 
#   IF [idxNodes]/2 = ROUND([idxNodes]/2) THEN 'Source' ELSE 'Target' END

# src_target = source_target.reshape(1, (len(source_target) * 2))
# src_target = src_target.reshape(-1)
src_target = source_target.reshape(len(source_target) * 2)
print(src_target.shape)
df_nodes = pd.DataFrame(src_target, columns=['NodeName'])

# Define the connection index
# The connection index is the index of data in its 'main' file.
array_idx = []
for i in range(1, len(src_target) + 1):
    array_idx.append((i + 1) // 2)

print(len(array_idx))
df_nodes['c_index'] = array_idx
df_nodes.to_csv('BridgeFile.csv', index_label='idxNodes')
# NOTE: 
# - idxNodes is used for clarifying which one is source and target
# - c_index, beside for label connection, is used for key connector between current and main file
df_nodes.head(6)

(526,)
526

              NodeName  c_index
0          High income        1
1                Aruba        1
2           Low income        2
3          Afghanistan        2
4  Lower middle income        3
5               Angola        3

In [90]:
df_nodes.tail(6)

                NodeName  c_index
520  Upper middle income      261
521         South Africa      261
522  Lower middle income      262
523               Zambia      262
524           Low income      263
525             Zimbabwe      263