In [67]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd

In [68]:
url = 'https://www.adamchoi.co.uk/overs/detailed'
path = '../driver/chromedriver.exe'

options = Options()
options.headless = True
options.add_argument('window-size=1920x1080')

service = Service(path)

In [69]:
# Extracting without a Dropdown menu

import time
driver = webdriver.Chrome(service=service,options=options)

driver.get(url)
time.sleep(3)
all_matches_btn = driver.find_element(by='xpath',
                                      value="//*[contains(text(), 'All matches')]")
all_matches_btn.click()

# Get all matches
matches = driver.find_elements(by='xpath', value='//tr')
date = list()
home = list()
score = list()
away = list()
for match in matches:
    date.append(match.find_element(by='xpath', value='./td[1]').text)
    home.append(match.find_element(by='xpath', value='./td[2]').text)
    score.append(match.find_element(by='xpath', value='./td[3]').text)
    away.append(match.find_element(by='xpath', value='./td[4]').text)

result_PL_2324 = pd.DataFrame({'date': date, 'home': home,
                               'score': score, 'away': away})
result_PL_2324.head()

         date            home  score           away
0  12-08-2023         Arsenal  2 - 1  Nott'm Forest
1  21-08-2023  Crystal Palace  0 - 1        Arsenal
2  26-08-2023         Arsenal  2 - 2         Fulham
3  03-09-2023         Arsenal  3 - 1     Man United
4  17-09-2023         Everton  0 - 1        Arsenal

In [63]:
# result_PL_2324.to_csv('./result/Premiere_League-23-24.csv', index=False)

In [70]:
# Extracting with a Dropdown menu
from selenium.webdriver.support.ui import Select
import time
driver = webdriver.Chrome(service=service,options=options)

driver.get(url)
time.sleep(3)

# Click all match button
all_matches_btn = driver.find_element(by='xpath',
                                      value="//*[contains(text(), 'All matches')]")
all_matches_btn.click()
time.sleep(3)
# Click Spain in country dropdown
spain_btn = driver.find_element(by='xpath',
                                value="//option[@label = 'Spain']")
spain_btn.click()
time.sleep(3)

# Alternative
# dropdown = Select(driver.find_element_by_id('country'))
# dropdown.select_by_visible_text('Spain')

# Get all matches
matches = driver.find_elements(by='xpath', value='//tr')
date = list()
home = list()
score = list()
away = list()
for match in matches:
    date.append(match.find_element(by='xpath', value='./td[1]').text)
    home.append(match.find_element(by='xpath', value='./td[2]').text)
    score.append(match.find_element(by='xpath', value='./td[3]').text)
    away.append(match.find_element(by='xpath', value='./td[4]').text)

result_Laliga_2324 = pd.DataFrame({'date': date, 'home': home,
                               'score': score, 'away': away})
result_Laliga_2324.head()

         date       home  score      away
0  14-08-2023      Cadiz  1 - 0    Alaves
1  21-08-2023     Alaves  4 - 3   Sevilla
2  28-08-2023     Getafe  1 - 0    Alaves
3  02-09-2023     Alaves  1 - 0  Valencia
4  15-09-2023  Vallecano  2 - 0    Alaves

In [65]:
# result_Laliga_2324.to_csv('./result/Laliga-23-24.csv', index=False)